// .banner {
//   background-image: url(../../images/about-us-banner.jpeg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 317px;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 64px;
// }



.wrapper {
  padding: 100px;
  padding-top: 180px;
  max-width: 1300px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 200px;
  @media (max-width: 500px) {
    padding: 50px;
    gap: 100px;
  }
  
  
}


.contentWrapper {
  margin: 50px 0;
  // height: calc(80vh - 70px);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}