.container {
  width: calc(100vw - 70px);
  height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  * {border-radius: 20px;}
}



.displayContainer {
  flex: 3;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.eventDisplaying {
  height: 80%;
  width: 85%;
  position: relative;
  overflow: hidden !important;

  .imageDisplaying {
    display: block;
    width: 95%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    color: black;
    transform: translateY(500px);
    background-color: #000000;
    opacity: 0.8;
    .content{
      color: black;
      position: absolute;
      height: 100%;
      
      transform: translate(20px, 10px);
      text-align: flex-start;

      .eventName{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 50px;
      }

      .eventDescription {
        margin-right: 40px;
      }

      .eventDate {
        bottom: 60px;
        position: absolute;
      }

      .eventLocation {
        bottom: 40px;
        position: absolute;
      }
    }
  }
}

.eventDisplaying:hover .overlay .eventName {
  margin-bottom: 20px;
}

.eventDisplaying:hover .overlay {
  opacity: 0.8;
  transform: translateX(0px);
  transform: translateY(0px);
  top: 0;
}

.eventListContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;

  .eventCard {
    height: 180px;
    width: 350px;
    // margin: 40px 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

    .eventImage {
      height: 50%;
      width: 35%;
      margin-right: 20px;
      z-index: 2;
    }

    .eventContent {
      z-index: 2;
    }
  }

  .eventCard:hover {
    background-color: rgba(18, 18, 18, 0.9);
  }
}

.overviewContainer {
  height: 60px;
  width: 80%;
  background-color: red;
  position: absolute;
  transform: translateY(250px);
}

.progressBar {
  position: absolute;
  bottom: 0px;
  left: 0px;
}