.heroWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.heroTitle {
  font-size: 8rem;
  // font-weight: 900;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(
    45deg,
    hsl(172deg 71% 41%) 0%,
    hsl(166deg 67% 44%) 11%,
    hsl(157deg 56% 50%) 22%,
    hsl(145deg 57% 56%) 33%,
    hsl(127deg 57% 63%) 44%,
    hsl(105deg 63% 63%) 56%,
    hsl(88deg 71% 61%) 67%,
    hsl(74deg 77% 57%) 78%,
    hsl(63deg 82% 53%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;

  @media (max-width: 1500px) {
    /* Laptop */
    font-size: 8rem;
  }



}



.titleBlur {
  position: absolute;
  top: 0;
  filter: blur(4rem);
  transform: scaleX(1.2) scaleY(1.6);
  text-shadow:   
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.073),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.105),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.13),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.155),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.187),
  100px 100px 80px rgba(0, 0, 0, 0.26)
;
}



.heroSubtitle {
  font-size: 4rem;
  background-image: linear-gradient(
    45deg,
    hsl(172deg 71% 41%) 0%,
    hsl(166deg 67% 44%) 11%,
    hsl(157deg 56% 50%) 22%,
    hsl(145deg 57% 56%) 33%,
    hsl(127deg 57% 63%) 44%,
    hsl(105deg 63% 63%) 56%,
    hsl(88deg 71% 61%) 67%,
    hsl(74deg 77% 57%) 78%,
    hsl(63deg 82% 53%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1500px) {
    /* Laptop */
    font-size: 3.5rem;
  }

}


.glow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    hsl(172deg 71% 41%) 0%,
    hsl(166deg 67% 44%) 11%,
    hsl(157deg 56% 50%) 22%,
    hsl(145deg 57% 56%) 33%,
    hsl(127deg 57% 63%) 44%,
    hsl(105deg 63% 63%) 56%,
    hsl(88deg 71% 61%) 67%,
    hsl(74deg 77% 57%) 78%,
    hsl(63deg 82% 53%) 89%,
    hsl(55deg 100% 50%) 100%
  ); 
  position: absolute;
  top: 0;
  // filter: blur(5rem);
  filter: blur(5rem);
  opacity: 0.15;
  border-radius: 1000px;
  transform: scaleY(2.5) scaleX(1.5);
}

.catchline {
  font-size: 2rem;
  margin: 20px 0 30px 0;

  @media (max-width: 1500px) {
    /* Laptop */
    font-size: 1.5rem;
  }


}

.projectsBtn {
  margin-top: 10px;
  font-size: 1.2rem;
  background: none;
  // border: 1px solid white;
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  // background-image: linear-gradient(
  //   45deg,
  //   hsl(172deg 71% 41%) 0%,
  //   hsl(166deg 67% 44%) 11%,
  // ); 
  transition: all 200ms ease;
  top: 0;
  // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  outline: 2px solid white;
  

  &:hover, &:focus {
    color: white;
    transition: all 300ms ease-in;
    background-color: #27BB97;
    outline: 0px;
    // top: -10px;
  }
}