.nav {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  background-color: inherit;
  position: sticky;
  top: 0;

  z-index: 2;
  position: fixed;
  transition: all 300ms ease;
  // background-color: #050505ea;
  
}


.brandContainer {
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;

  div {
    font-size: 28px;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  img {
    width: 39px;
    height: 40px;
    margin-left: 20%;
    margin-right: 20px;
  }
}

.navLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;

  ul {
    display: flex;
    list-style: none;
    margin-right: 3vw;
  }

  li {
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
    margin-right: 4vw;
  }
  
  .link {
    text-decoration: none;
    position: relative;
    display: block;
    line-height: 1;
    letter-spacing: .02em;
  }

  .link::after, .selected-link::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2fbbaa;
    transform: scaleX(0);    
  }
  
  .link:hover::after, .selected-link::after {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s ease-out;
  }

  .inner {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .link:hover .normal, .selected-normal {
    transform: translateY(-100%);
  }

  .normal {
    position: relative;
    display: block;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
  }

  .hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translateY(calc(100% + 41px));
    color: #79f4e4;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
  }

  .link:hover .hover, .selected-hover {
    transform: translateY(0);
  }
}