

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;


  @media (max-width: 500px) {
    gap: 15px;
    flex-direction: column;
  }
  
  @media (min-width: 800px) {
    &:hover {
      &>img {
        width: 425px;
        height: 305px;
      }
      & {
        cursor: pointer;
      }
    }
  }
}

.thumbnail {
  width: 400px;
  height: 280px;
  border-radius: 10px;
  transition: all 200ms ease;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  @media (max-width: 500px) {
    width: 100%;
    background-color: #141515;
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}

.title {
  display: flex;
  font-size: 1.4rem;
  color: #2FBBAA;
  font-weight: 600;
}

.descriptorWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: 500px) {
    gap: 10px;
  }
}

.descriptor {
  display: flex;
  font-size: 1.1rem;
  gap: 18px;
  align-items: center;
} 