.heading {
  display: flex;
  font-size: 2rem;
  color: #2FBBAA;
  font-weight: 600;
  margin-bottom: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.paragraph {
  line-height: 3rem;
  font-size: 1.5rem;
}