.wrapper {
  padding: 100px;
  max-width: 1400px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
  @media (max-width: 500px) {
    padding: 50px;
  }
}

// styles for banner
.bannerWrapper {
  display: flex;
  padding-top: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.banner {
  height: 250px;
	width: 100%;
	background-size: 'cover';
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
	align-items: center;
	justify-content: center;
	height: 100%;
}

// styles for team photo display
.teamWrapper{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamContainer {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  display: flex;
	justify-content: center;
	color: #06DAC2;
  font-weight: bold;
  font-size: 28pt;
  padding: 50px;
}

.teamPhotoContainer {
  margin-top: 15px;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.headshotWrapper {
  max-width: 260px;
  background-color: #161616;
  padding: 10px;
  padding-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.headshot {
  border-radius: 15px;
  width: 100%;
  max-height: 260px;
}

.headshotDescriptor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.memberName {
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.role {
  font-weight: 500;
  font-size: 1.1rem;
  color: #6a7171;
}


.skeletonHeadshot {
  width: 100%;
  // height: 280px;
  animation: loading 0.7s linear infinite alternate;
  border-radius: 15px;

  @keyframes loading {
    0% {
      background-color: #242626;
    }
    100% {
      background-color: #1e1e1e;
    }
  }
}

// styles for departments
.departmentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.departmentContainer {
	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  justify-items: center;
  justify-content: space-around;
}

.departmentBox {
  position: relative;
	width: 550px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: 10px;
}

.departmentImage {
  width: 100%;
	height: 100%;
  opacity: 0.3;
  border-radius: 10px;
}

.departmentTextNoHover {
  position: absolute;
  text-align: center;
}

.departmentHeading {
  font-size: 20px;
}

.departmentTextHover {
  position: absolute;
  height: 100%;
  width: 100%;
}

.departmentHoverBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 5px;
  bottom: 20%;
}

.departmentHeadingHover {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 100px;
}

.departmentTextHover { 
  display: flex;
  font-size: 16px;
  top: 20%;
  height: 80%;
}
